In [1]:
import pandas as pd
import dask.dataframe as dd

In [24]:
# Read the CSV file into a Dask DataFrame
df_sun = dd.read_csv('../features/1775_2024_cor_sunshine_features.csv')
df_sun.head()

                                 id  cor_kwh_sunshine year_month
0  002da9d5719ff5fb0f53307ace9bc9e7         -0.005999    2023-01
1  00327776181f90b1864c4238857098b7         -0.017045    2023-01
2  006d406397f66e3feb64e50853668cb6         -0.063781    2023-01
3  00bd7e4f354fec1559d7ee2bb41e197f          0.017763    2023-01
4  00bfdb2a5b43bb6bfce84e24c81ffdcf         -0.002112    2023-01

In [25]:
# Read the CSV file into a Dask DataFrame
df_tmp = dd.read_csv('../features/1775_2023_cor_temp_features.csv')
df_tmp.head()

                                 id  cor_kwh_temp year_month
0  002da9d5719ff5fb0f53307ace9bc9e7     -0.181985    2023-01
1  00327776181f90b1864c4238857098b7     -0.027829    2023-01
2  006d406397f66e3feb64e50853668cb6     -0.009993    2023-01
3  00bd7e4f354fec1559d7ee2bb41e197f     -0.203527    2023-01
4  00bfdb2a5b43bb6bfce84e24c81ffdcf      0.160405    2023-01

In [26]:
df_stl = dd.read_csv('../features/1775_2023_stl_features.csv')
df_stl.head()

,id,year_month,stl_0,stl_1,stl_2,stl_3,stl_4,stl_5,stl_6,stl_7,...,stl_14,stl_15,stl_16,stl_17,stl_18,stl_19,stl_20,stl_21,stl_22,stl_23
0,ada3c59761422f60162dd6ea3a7033b1,2023-01,0.673540,0.573044,0.472098,0.371925,0.265941,0.190831,0.151612,0.138649,...,0.120281,0.159072,0.193494,0.220389,0.223524,0.204265,0.206945,0.211396,0.218094,0.228994
1,ada3c59761422f60162dd6ea3a7033b1,2023-02,0.702000,0.593429,0.484305,0.376086,0.266409,0.178076,0.127380,0.109365,...,0.150476,0.188221,0.228046,0.257988,0.263845,0.240433,0.212284,0.185636,0.159272,0.134920
2,ada3c59761422f60162dd6ea3a7033b1,2023-03,0.906597,0.779381,0.649489,0.518905,0.380011,0.261676,0.188031,0.154823,...,0.076706,0.090930,0.110593,0.132012,0.142219,0.137893,0.130705,0.123317,0.115761,0.108918
3,ada3c59761422f60162dd6ea3a7033b1,2023-04,0.979244,0.783832,0.594719,0.412280,0.236921,0.144208,0.107940,0.114306,...,0.096461,0.118647,0.144259,0.156275,0.155565,0.150665,0.150440,0.152826,0.156526,0.161682
4,ada3c59761422f60162dd6ea3a7033b1,2023-05,0.928659,0.742726,0.563572,0.391446,0.226842,0.145613,0.114841,0.118866,...,0.086589,0.108681,0.127530,0.129527,0.113166,0.090197,0.076107,0.063280,0.051882,0.042230

In [33]:
df_der = dd.read_csv('../features/1775_2023_mean_hour_day.csv')
# bring the header to one row
df_der.head()

,id,year_month,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,4e63a09571e4812bfba4e6cbcadfae01,2023-11,0.181758,0.026542,0.123542,0.045100,0.051350,0.241517,0.057367,0.076575,...,0.089933,0.072050,0.070783,0.210067,0.199442,0.155992,0.129342,0.103400,0.101183,0.680450
1,7ae091b442072e9bc7a70efd623001f7,2023-09,0.330133,0.838658,0.238683,0.131117,0.073392,0.023908,0.029175,0.029192,...,0.034167,0.035975,0.037308,0.035992,0.037917,0.035992,0.031008,0.027317,0.023958,0.022417
2,e22ed1d346c23bb526f002a94a346aca,2023-04,0.084883,0.114783,0.140750,0.137000,0.108342,0.065492,0.093158,0.135892,...,0.092500,0.106692,0.169350,0.198783,0.115567,0.115758,0.096150,0.058783,0.051425,0.079617
3,13e07e9c813b90350ccab15bcbbbe25d,2023-12,0.014677,0.014032,0.014629,0.014621,0.014589,0.016137,0.015290,0.017782,...,0.018202,0.020121,0.021831,0.020927,0.020823,0.023887,0.027831,0.028702,0.021435,0.014129
4,f025df5754f4ea912bf635cacca1e138,2023-09,0.268917,0.030333,0.045833,0.034917,0.029833,0.018667,0.019583,0.018083,...,0.019083,0.020250,0.018667,0.018250,0.017833,0.017167,0.017500,0.016750,0.016417,0.024500

In [35]:
# Get unique ids in df_der
unique_ids = df_der['id'].unique()
len(unique_ids)

1775

In [27]:
# Join the DataFrames
df_feat = dd.merge(df_sun, df_tmp, on=['id','year_month'])
df_feat = dd.merge(df_feat, df_stl, on=['id','year_month'])
#df_feat = dd.merge(df_feat, df_der, on=['id','year_month'])
df_feat.head()

,id,cor_kwh_sunshine,year_month,cor_kwh_temp,stl_0,stl_1,stl_2,stl_3,stl_4,stl_5,...,stl_14,stl_15,stl_16,stl_17,stl_18,stl_19,stl_20,stl_21,stl_22,stl_23
0,002da9d5719ff5fb0f53307ace9bc9e7,-0.005999,2023-01,-0.181985,2.035449,1.815302,1.573814,1.320732,1.042308,0.702343,...,0.611975,0.591623,0.524417,0.503317,0.528711,0.584466,0.651120,0.695100,0.733955,0.765858
1,00327776181f90b1864c4238857098b7,-0.017045,2023-01,-0.027829,0.181992,0.151897,0.124277,0.098772,0.078438,0.080746,...,0.032842,0.028730,0.026504,0.026056,0.027556,0.034950,0.056181,0.077259,0.099392,0.122548
2,006d406397f66e3feb64e50853668cb6,-0.063781,2023-01,-0.009993,0.079956,0.082405,0.084927,0.087454,0.089967,0.091261,...,0.121165,0.111116,0.102064,0.095322,0.090838,0.088793,0.089390,0.089994,0.090799,0.091761
3,00bd7e4f354fec1559d7ee2bb41e197f,0.017763,2023-01,-0.203527,0.248640,0.261772,0.267561,0.269124,0.260947,0.227060,...,0.262640,0.244502,0.219456,0.228388,0.260903,0.298348,0.308966,0.303397,0.292112,0.273818
4,00bfdb2a5b43bb6bfce84e24c81ffdcf,-0.002112,2023-01,0.160405,0.027654,0.025366,0.023327,0.021718,0.020432,0.025440,...,0.040217,0.043533,0.046045,0.046460,0.044643,0.041550,0.037853,0.034211,0.030560,0.026903

In [20]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score

In [30]:
# Sort df_feat by id
df_feat = df_feat.sort_values(by='id')

# Dropping non-numerical columns for the sake of normalization
# You may want to exclude columns like 'id', 'year_month' before normalization
df_numeric = df_feat.drop(columns=['id', 'year_month', 'cor_kwh_sunshine', 'cor_kwh_temp'])

In [31]:
# 1. Row-wise normalization (Min-Max Scaling)
scaler = MinMaxScaler()

# Apply scaling row-wise
df_normalized = pd.DataFrame(scaler.fit_transform(df_numeric.T).T, columns=df_numeric.columns)

In [32]:
df_normalized.head()

,stl_0,stl_1,stl_2,stl_3,stl_4,stl_5,stl_6,stl_7,stl_8,stl_9,...,stl_14,stl_15,stl_16,stl_17,stl_18,stl_19,stl_20,stl_21,stl_22,stl_23
0,1.0,0.860741,0.707982,0.547889,0.371766,0.156714,0.036484,0.000000,0.019849,0.066813,...,0.099549,0.086675,0.044163,0.030815,0.046879,0.082148,0.124311,0.152132,0.176710,0.196892
1,1.0,0.862646,0.712526,0.555482,0.382653,0.172730,0.049838,0.000000,0.001956,0.029653,...,0.033693,0.036892,0.014731,0.020805,0.049621,0.089534,0.133586,0.163554,0.190284,0.213050
2,1.0,0.777814,0.565440,0.361903,0.165735,0.076103,0.032071,0.015897,0.014265,0.008319,...,0.078483,0.112785,0.129458,0.125173,0.115914,0.107055,0.147402,0.198592,0.255285,0.318928
3,1.0,0.772039,0.553779,0.344797,0.143441,0.052686,0.015232,0.008715,0.012554,0.009035,...,0.087351,0.117522,0.135869,0.126867,0.111576,0.103529,0.126038,0.158906,0.196075,0.237944
4,1.0,0.817736,0.636430,0.458013,0.274979,0.144244,0.070451,0.031980,0.022924,0.023440,...,0.084086,0.127384,0.152123,0.152508,0.131138,0.106761,0.116306,0.128373,0.143929,0.163896